
#cursos {
  width: 100%;
  margin: 50px auto;
}

/* input, select, textarea {
  background-color: rgb(243, 237, 237);
  margin: 20px;
  width: 90%;
} */

textarea {
  height: 100px;
}

option {
  width: 90%;
}

#cursos button {
  margin: 30px 0;
}

.btn {
  background-color: midnightblue;
  color: white;
  font-weight: bold;
  margin: 10px;
}

.btn:hover {
  background-color: dodgerblue;
  color: rgb(49, 49, 49);
}

span {
  margin-bottom: 10px;
}
