
#cursos {
  width: 100%;
  margin: 50px auto;
}

#cursos input, #cursos select, #cursos textarea {
  margin: 20px;
  width: 80%;
}

#cursos input, #cursos textarea, #cursos select {
  background-color: rgb(243, 237, 237);
}

#cursos button {
  margin: 30px 0;
}

.btn {
  background-color: midnightblue;
  color: white;
  font-weight: bold;
  margin: 10px;
}

.btn:hover {
  background-color: dodgerblue;
  color: rgb(49, 49, 49);
}

span {
  margin-bottom: 10px;
}
