
<div id="cursos">
  <div class="container">

    <p class="h1">
      Cadastrar curso
    </p>
    <hr />

    <form #form="ngForm" (submit)="enviandoDados(form)" class="needs-validation form-control" novalidate>
      <div class="row">
        <div class="col-md-6">
          <label>
            <span>Nome: *</span><br>

            <input style="width: 100%;" id="validationCustom01" class="form-control is-valid"
            type="text" placeholder="Nome do curso" name="nome"
              [(ngModel)]="cadastrarCursoService.modelCurso.nome" onblur="" autofocus required>
              <span class="invalid-feedback">Preencha com um nome.</span>
          </label>
        </div>

        <div class="col-md-6">

          <div class="form-group">
            <label><span class="white">Categorias: *</span></label>

            <select [(ngModel)]="cadastrarCursoService.modelCurso.catId" class="form-control is valid" required>
              <option selected disabled value="0">--Selecionar--</option>
              <option *ngFor="let categoria of listaCategorias" [value]="categoria.catId"> {{ categoria.nome }}
              </option>
            </select>
            <span class="invalid-feedback">Escolha uma categoria.</span>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label>
            <span>Data Inicial: </span>
            <i class="fa fa-calendar-alt"> *</i>
          </label>

          <input #dataInicio id="validationCustom02" class="form-control is-valid" type="text"
          [(ngModel)]="cadastrarCursoService.modelCurso.dataInicio" min="{{dataAtual[0]}}" required
          onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Escolha uma data">

          <span class="invalid-feedback">Por favor, preencha o campo de data.</span>
        </div>

        <div class="col-md-6">
          <label>
            <span>Data Final: </span>
            <i class="fa fa-calendar-alt"> *</i>

            <input #dataFinal id="validationCustom03" class="form-control is-valid" type="text"
            [(ngModel)]="cadastrarCursoService.modelCurso.dataFinal" min="{{dataAtual[0]}}" required
            onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Escolha uma data">

            <span class="invalid-feedback">Por favor, preencha o campo de data.</span>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label>
            <span>Qtde Alunos por Turma: </span>
            <input id="validationCustom04" class="form-control is-valid" type="number" min="1" max="999"[(ngModel)]="cadastrarCursoService.modelCurso.qtdAlunosTurma" required>
            <span class="invalid-feedback">Digite a quantidade de alunos.</span>
          </label>
        </div>

        <div class="col-md-6">
          <label>
            <span>Descrição do curso: *</span>
            <textarea class="form-control invalid" [(ngModel)]="cadastrarCursoService.modelCurso.desAssunto"
              placeholder="Digite a descricao do curso" required>
            </textarea>
            <span class="invalid-feedback">Digite a quantidade de alunos.</span>
          </label>
        </div>

      </div>

      <div class="row">
        <div class="col-md-1">
          <!-- Garante que o botão se mantenha desabilitado se todos os campos não forem preenchidos -->
          <button class="btn" type="submit" [disabled]="!form.valid">Enviar</button>
        </div>

        <div class="col-md-1">
          <button routerLink="/home" class="btn">Voltar</button>
        </div>

        <div class="col-md-1">
          <button routerLink="/cursos" class="btn">Detalhes</button>
        </div>
      </div>

    </form>
  </div>

</div>
