
#cursos {
  width: 100%;
  margin: 100px auto;
}

#cursos input, #cursos select {
  margin: 30px;
  width: 60%;
}

#cursos input {
  background-color: rgb(207, 204, 204);
  border-radius: 15px;
  height: 40px;
}

#cursos button {
  margin: 30px 0;
}

.btn {
  background-color: midnightblue;
  color: white;
  font-weight: bold;
  margin: 10px;
  border: 1px solid gray
}

.btn:hover {
  background-color: dodgerblue;
  border-radius: 15px;
  color: rgb(49, 49, 49);
}
