
<div id="log">

  <div class="container">

    <p class="h1">
      Consulta de log
    </p>
    <hr />

    <div id="lista" class="table-responsive-md">


      <div class="row">
        <div class="col-md-12">
          <nav class="navbar">
            <input class="form-control" type="text" name="search" [(ngModel)]="pesquisaLog"
              placeholder="Digite sua pesquisa" />
          </nav>
        </div>

      </div>


<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Data de Inclusão</th>
      <th scope="col">Data da Última Atualização</th>
      <th scope="col">Usuário</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>

    <tr
    *ngFor="let log of listaLogs | filter: pesquisaLog | paginate: { itemsPerPage: 5, currentPage: paginaAtual }; let i = index">
      <td class="">
        {{log.logId}}
      </td>
      <td class="">
        {{log.datainclusao | date: 'dd/MM/yyyy'}}
      </td>
      <td>
        {{log.dataUltimaAtualizacao | date: 'dd/MM/yyyy'}}
      </td>
      <td>
        {{log.dataFinal | date: 'dd/MM/yyyy'}}
      </td>
      <td>
        {{log.user}}
      </td>

    </tr>
  </tbody>
  <pagination-controls (pageChange)="paginaAtual = $event"
                        nextLabel="Próximo"
                        previousLabel="Voltar">
                        <!--responsive="true"-->
  </pagination-controls>
</table>

