<div class="limiter">

  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
        <img src="../../assets/login/login.png" alt="IMG">
      </div>

      <form class="login100-form validate-form">
        <span class="login100-form-title">
          Login
        </span>

        <div class="wrap-input100 validate-input" data-validate="Um email é necessário: ex@abc.xyz">
          <input class="input100" type="text" placeholder="Usuário">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-user" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Uma senha é necessaria.">
          <input class="input100" type="password" name="senha" placeholder="Senha">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            <span>Acessar</span>
          </button>
        </div>

      </form>
    </div>
  </div>

</div>
