<div id="cursos">

  <div class="container">

    <p class="h1">
      Consulta de cursos
    </p>
    <hr />

    <div id="lista" class="table-responsive-md">

      <!-- CAmpo Input de pesquisa de dados -->
      <div class="row">
        <div class="col-md-6">
          <nav class="navbar">
            <input class="form-control" type="text" name="search" [(ngModel)]="pesquisaNome"
              placeholder="Digite sua pesquisa" />
          </nav>
        </div>

        <div class="col-md-6">
          <nav class="navbar">
            <input class="form-control" type="text" name="search"
            [(ngModel)]="pesquisaNome" onfocus="(this.type='date')" onblur="(this.type='text')"
            placeholder="Escolha uma data"/>
          </nav>
        </div>
      </div>

      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>

            <th scope="col">Data de Ínicio</th>
            <th scope="col">Data Final</th>

            <th scope="col">Alunos por Turma</th>
            <th scope="col">Descrição do Assunto</th>

            <th scope="col">Categoria</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          <!-- Editar quando é dado double click na linha do curso (dblclick) -->
          <!-- filter: pesquisaNome ativa a pesquisa de dados retornado pela API -->
          <!-- paginate: ativa a paginacao de dados retornado pela API -->
          <tr (dblclick)="editandoCurso(curso)"
          *ngFor="let curso of listaCursos | filter: pesquisaNome | paginate: { itemsPerPage: 5, currentPage: paginaAtual }; let i = index">
            <td class="">
              {{curso.cursoId}}
            </td>
            <td class="">
              {{curso.nome}}
            </td>
            <td>
              {{curso.dataInicio | date: 'dd/MM/yyyy'}}
            </td>
            <td>
              {{curso.dataFinal | date: 'dd/MM/yyyy'}}
            </td>
            <td>
              {{curso.qtdAlunosTurma}}
            </td>
            <td>
              {{curso.desAssunto}}
            </td>
            <td>
              {{curso.categoria.nome}}
            </td>

            <td>
              <button class="fa fa-edit" (click)="editandoCurso(curso.cursoId)"></button>
            </td>
            <td>
              <button class="fa fa-trash" (click)="deletarCurso(curso.cursoId)"></button>
            </td>
          </tr>
        </tbody>
        <pagination-controls (pageChange)="paginaAtual = $event"
                              nextLabel="Próximo"
                              previousLabel="Voltar">
                              <!--responsive="true"-->
        </pagination-controls>
      </table>

    </div>
  </div>

</div>
