<div id="cursos">

  <div class="container">

    <p class="h1">
      Consulta de cursos
    </p><hr />

    <div id="lista">

      <!-- Titulo dos campos que está inserido no banco de dados -->
      <div class="row">
        <div class="col-md-3">
          <span>
            Nome do Curso
          </span>
        </div>

        <div class="col-md-2">
          <span>
            Data de Ínicio
          </span>
        </div>

        <div class="col-md-2">
          <span>
            Data de Término
          </span>
        </div>

        <div class="col-md-2">
          <span>
            Descrição do curso
          </span>
        </div>

        <div class="col-md-2">
          <span>
            Turma
          </span>
        </div>

      </div>

      <!-- Adicionar resultado do banco via diretiva *ngFor do Angular.
      Cada linha tera uma DIV e cada Div tera uma cor -->
      <div class="row">

      </div>






    </div>
  </div>

</div>
