<div id="cursos">

  <div class="container">

    <p class="h1">
      Consulta de cursos
    </p>
    <hr />

    <div id="lista">

      <!-- -->
      <div class="row">
        <div class="col-md-6">
          <nav class="navbar">
            <input class="form-control" type="text" name="search" [(ngModel)]="pesquisaNome"
              placeholder="Digite sua pesquisa" />
          </nav>
        </div>

        <div class="col-md-6">
          <nav class="navbar">
            <input class="form-control" type="text" name="search"
            [(ngModel)]="pesquisaNome" onfocus="(this.type='date')" onblur="(this.type='text')"
            placeholder="Escolha uma data"/>
          </nav>
        </div>
      </div>

      <table>
        <thead>
          <tr>
            <th>ID do Curso</th>
            <th>Nome</th>

            <th>Data de Ínicio</th>
            <th>Data Final</th>

            <th>Alunos por Turma</th>
            <th>Descrição do Assunto</th>

            <th>Categoria</th>
          </tr>
        </thead>
        <tbody>
          <tr (dbclick)="editarCurso(curso)"
          *ngFor="let curso of listaCursos | filter: pesquisaNome; let i = index">
            <td>
              {{curso.cursoId}}
            </td>
            <td>
              {{curso.nome}}
            </td>
            <td>
              {{curso.dataInicio | date: 'dd/MM/yyyy'}}
            </td>
            <td>
              {{curso.dataFinal | date: 'dd/MM/yyyy'}}
            </td>
            <td>
              {{curso.qtdAlunosTurma}}
            </td>
            <td>
              {{curso.desAssunto}}
            </td>
            <td>
              {{curso.catId}}
            </td>

            <td>
              <button class="fa fa-edit" (click)="editarCurso(curso)"></button>
            </td>
            <td>
              <button class="fa fa-trash" (click)="deletarCurso(curso)"></button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- <div class="row" (click)="editarCurso()">
        <div class="col" >
          <span>Titulo</span>
          <p>{{curso.nome}}</p>
          <i class="fa fa-trash"></i>
        </div>
      </div> -->

    </div>
  </div>

</div>
