
/* Mostra espaco do topo ate o titulo principal */
p[class^="h1"] {
  margin-top: 50px;
}

span {
  font-weight: bold;
}

tbody tr:hover {
  background-color: rgb(235, 233, 233);
  cursor:pointer;
}

#btnPesquisa {
  background:transparent;
  border:none;
}

input {
  display: inline-flex;
}

button {
  display: inline-flex;
}
